.provincesNorm{
    stroke: black;
    stroke-linejoin: miter;
    stroke-width: 1px;
    cursor: pointer;

}

.provincesNorm2{
    stroke: black;
    stroke-linejoin: miter;
    stroke-width: 1px;
    cursor: pointer;
}
.provinceSel{
    stroke: black;
    stroke-linejoin: miter;
    stroke-width: 1px;
    cursor: pointer;
}

.provincesSmal{
    stroke: black;
    stroke-linejoin: miter;
    stroke-width: 1px;
    cursor: pointer;
}

.borders{
	fill: none;
	stroke: white;
	stroke-linejoin: miter;
	stroke-width: 0.5px;

}

.text{
	stroke: black;	
	fill: black;
	
}
.text2{
	stroke: white;	
	fill: white;
    font-size: 30px;
	
}

.rect2{
	fill: lightsteelblue;
    border-radius: 25px; 


}

.background {
  fill: none;
  pointer-events: all;
}
.body{
    background: url(back2.png);
    background-size: 100% 100%;

}
.line{
    stroke: black;
}
.line{
    stroke: lightblue;
    opacity: 1;
}
div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
}
.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.bar {
  fill: white;
}

.x.axis path {
  display: none;
}